<!DOCTYPE html>
<html>
  <head>
    <title>Add Note</title>
      <style type="text/css">
           .save {
        background-color: #008CBA; /* Blue */
        border: none;
        border-radius: 8px;
        color: white;
        padding: 15px 25px;
        text-align: center;
        margin: 4px 2px;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        }
      </style>
  </head>

  <body>
      <form method="post" action="/editnote">
      <div id="textdiv" style="color: green; font-size: 250%; font-family: Bodoni MT Black;">
      <p align="center"> This is the edit Note Section </p></div>
      <div class="note">
      <input type="hidden" name="_id" value="<%= note._id %>"></input>
      <textarea name="note" rows="20" cols="60"  placeholder=" Enter Text Here"  style="background-color: #FFDAB9; font-size:100%; font-family:verdana; align:right;" ><%=note.note %></textarea><br>
      <br><br>
      <button class="save" type="submit" id = "mybutton" onclick="window.location.href='http://localhost:3000/viewnote'" > SAVE </button>
      </div>
    </form>
  </body>

</html>
