<!DOCTYPE html>
<html>
  <head>
    <title></title>
   
  </head>
  <body>
   <div style="blue">
   	<form method="post" action="/login">
   	Username: <input type="text" name="username" id="username"><br><br>
   	Password: <input type="password" name="password" id="password"><br><br>
    <button type="submit" id = "button"> LOGIN </button>
   </form>

   </div>
  </body>
</html>