<!DOCTYPE html>
<html>
  <head>
    <title>Login page</title>
  </head>

  <body>
   <div style="blue">

    <form method="post" action="/signup">
   	Username: <input type="text" name="username" id="username"><br><br>
   	Password: <input type="password" name="password" id="password"><br><br>
    Re-Password: <input type="password" name="repassword" id="repassword"><br><br>     
   	<button  type="submit" id = "mybutton"> SIGN UP </button>
    
   </form>
   </div>
  </body>

</html>
